/* Custom Fonts */
@font-face {
	font-family: 'PTSans';
	src: url('fonts/PT-Sans.eot');
    src: url('fonts/PT-Sans.eot?#iefix') format('embedded-opentype'),
         url('fonts/PT-Sans.woff') format('woff'),
         url('fonts/PT-Sans.ttf') format('truetype'),
         url('fonts/PT-Sans.svg#pt_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PTSans';
	src: url('fonts/PT-Sans-Bold.eot');
    src: url('fonts/PPT-Sans-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/PT-Sans-Bold.woff') format('woff'),
         url('fonts/PT-Sans-Bold.ttf') format('truetype'),
         url('fonts/PT-Sans-Bold.svg#pt_sansbold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PTSans';
	src: url('fonts/PT-Sans-Italic.eot');
    src: url('fonts/PPT-Sans-Italic.eot?#iefix') format('embedded-opentype'),
         url('fonts/PT-Sans-Italic.woff') format('woff'),
         url('fonts/PT-Sans-Italic.ttf') format('truetype'),
         url('fonts/PT-Sans-Italic.svg#pt_sansitalic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'PTSans';
	src: url('fonts/PT-Sans-BoldItalic.eot');
    src: url('fonts/PPT-Sans-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('fonts/PT-Sans-BoldItalic.woff') format('woff'),
         url('fonts/PT-Sans-BoldItalic.ttf') format('truetype'),
         url('fonts/PT-Sans-BoldItalic.svg#pt_sansbold_italic') format('svg');
	font-weight: bold;
	font-style: italic;
}

/* End Custom Fonts */
html{
    background-color: #385e70;
    text-align: justify;
    line-height: 1.5; 
}
body{
    /*font-family: Helvetica,Arial,sans-serif;
    font-family: Tahoma,sans-serif;
    font-family:Georgia, "Times New Roman",serif;*/
    font-family:'PTSans',Arial,Sans-serif;
    /*font-size: 87%;*/
    font-size:15px;
    /*font-size: 20px;
    font-size: large;*/
}


img{
    max-width:100%;
    
    height:auto;
}
.container{ 
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    
   padding-left: 40px;
   padding-top: 15px;
   /*padding-right: 40px;*/
   background:  url(../Images/color-tile.png) left top repeat-x ,#ffffff  url(../Images/color-tile.png) left bottom repeat-x;
   box-sizing: border-box; 
   
   box-sizing: border-box;

}
header{
   /* padding-bottom: 20px;*/
    padding-top: 20px;
    background-image:url(../Images/flower.jpg);
    background-size: cover;
    /*color:#313f47;*/
    background-repeat: no-repeat;
    background-position: right center;

    
}
header h1{
    margin: 0;
    font-weight:normal;
    font-size: 165%;
}
header p{
    margin: 0;
}
/*main column typography*/
.main-area h2{
    font-size: 200%;
font-weight: normal;
font-style: italic;
letter-spacing: 4px;
word-spacing: 10px;
text-shadow: 1px 4px 3px #999999;
/*text-shadow:1px 4px 0 rgba(0, 0,0,0.5);*/
text-decoration: lowercase;
}
/* css sprites start*/
.ui-menu ul{
    margin: 0;
    padding: 0;
}
.ui-menu li{
    float: left;
    list-style: none;
    margin-right: 20px;
    
}
.ui-menu a{
    display: block;
    width: 50px;
    height: 50px;
    background-image: url(../Images/sprites.png);
    text-indent: -9999px;
}
.ui-profile a{background-position: 0 -50px;}
.ui-setting a{background-position: 0 -100px;}
.ui-home a:hover{background-position: -50px 0}
.ui-profile a:hover{background-position: -50px -50px;}
.ui-setting a:hover{background-position: -50px -100px;}
/*  End css sprites */
.main-area p{
    text-align: justify;
    text-indent: 25px;
    line-height: 1.5;
}
/* end main column typography*/




/* site Navigation*/
.site-nav{
    margin-top: 20px;
    
}
.site-nav ul{
    margin: 0;
    padding:0;
}
.site-nav li{
list-style: none ;
float:left;
margin-left: 5px;

}
.site-nav a{
    display: block;
    color:#313f47;
    padding:10px 20px 10px 20px;
    border: 3px solid#e4eef5;
    border-bottom: none;
    background-color: #ffffff;
}
.site-nav a:hover{
    background-color: #e4eef5;
}
.site-nav u  {
    text-decoration: none;

}
/* End Site Navigation */


 input[ type=submit]{
     width: 100%;
     display: block;
     box-sizing:border-box;
     background-color:#385e70;
     color: #fff;
     padding: 10px 0;
     outline: none;
     border:1px solid #2e444e;
     border-radius: 3px;
     margin-bottom: 10px;
     
 }
 input[type=submit]:hover,
 input[type=submit]:focus{
     border: 1px solid #385e70;
     background-color: #2e444e;
 }
.content-area{
    border-top: 3px solid #e4eef5;
    border-bottom: 3px solid #e4eef5;
}
.main-area{
    font-size: 100%;
    width: 66%;
    float: left;
    padding-right: 40px;
    box-sizing: border-box;
}
.side-bar{
    position: relative;
    z-index: 10;
    width: 34%;
    float: left;
    /*background-image: linear-gradient(to bottom, #e4eef5, #ffffff);*/
    
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e4eef5), to(#FFF));
	background-image: -webkit-linear-gradient(top, #e4eef5, #FFF);
	background-image: -moz-linear-gradient(top, #e4eef5, #FFF);
	background-image: -ms-linear-gradient(top, #e4eef5, #FFF);
	background-image: -o-linear-gradient(top, #e4eef5, #FFF);
	background-image: linear-gradient(to bottom, #e4eef5, #FFF);
   

    padding: 20px 40px ;
    box-sizing: border-box;
    font-size: 85%;
}
.group:before,
.group:after {
content:"";
display: table;
}
.group:after{
    clear: both;
}
.group{
    zoom: 1;
}
footer{
    text-align:center;
    font-size: 87%;
    color:#95a7b4;
    padding-bottom: 20px;
    padding-top: 20px;  
}
